.day-selector {
  background-color: white;
  display: flex;
  align-items: center;
  padding: 10px 1vw 10px 1vw;
  border-radius: 20px;
  width: fit-content;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
}

.play-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5vw;
  cursor: pointer;
}

.play-icon {
  width: 2vw;
  height: 40px;
  min-width: 30px;
}
