.day-selector {
  background-color: white;
  padding: 8px 1.5vw 8px 1.5vw;
  border-radius: 15px;
  width: fit-content;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

.day-selector-row {
  display: flex;
  align-items: center;
}

.play-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1.5vw;
  cursor: pointer;
}

.play-icon {
  width: 3vw;
  height: 3vw;
  min-height: 40px;
  min-width: 40px;
}

.progress-bar {
  margin: 0px 0vw;
  width: 84%;
}
