@font-face {
  font-family: 'Circular Std Medium';
  src: url('/public/fonts/circular-std-medium-500.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: 'Circular Std Medium';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

